# Dependency directories
node_modules/
# Uncomment the next line if you're using Yarn
# /yarn-error.log

# Production build
/build/
/dist/
*.log

# Environment files
.env.local
.env.development.local
.env.test.local
.env.production.local

# Coverage directory used by tools like istanbul
/coverage/

# Jest test runner cache
/.jest/

# Next.js build output
/.next/

# Nuxt.js build output
/.nuxt/

# Vuepress build output
/.vuepress/dist/

# Serverless directories
/.serverless/

# FuseBox build output
/.fusebox/

# DynamoDB Local files
.dynamodb/

# TernJS port file
.tern-port

# Stores VSCode version
.vscode/

.idea/